// FOOTER

.footer
	min-height 388px
	background url('../images/footer-bg.jpg') no-repeat 0 0 / 100%
	&__in
		width 1148px
		overflow hidden
		padding 0 40px
	&__contact
		float right
		margin-bottom 110px
	&__number
		margin-top 75px
		font-size 56px
		color #393939
		letter-spacing 1px
		margin-bottom 5px
	&__email
		font-size 34px
		font-family 'Roboto' sans-serif
		font-weight 100
		color #393939
		margin-bottom 15px
		display block
		text-align right
	&__call
		width 295px
		display inline-block
		color #1d1d1d
		font-size 24px
		height 50px
		line-height 50px
		font-weight 100
		text-align center 
		float right
		border 1px solid #3c3c3c
	&__nav
		clear right
		float right
	&__item
		display inline-block
	&__link
		display inline-block
		text-transform uppercase
		color #555
		font-size 13px
		margin-left 32px
		font-weight 500