/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$advograd_business_name = 'advograd-business';
$advograd_business_x = 175px;
$advograd_business_y = 600px;
$advograd_business_offset_x = -175px;
$advograd_business_offset_y = -600px;
$advograd_business_width = 199px;
$advograd_business_height = 135px;
$advograd_business_total_width = 1086px;
$advograd_business_total_height = 925px;
$advograd_business_image = '../images/sprites/sprites.png';
$advograd_business = 175px 600px -175px -600px 199px 135px 1086px 925px '../images/sprites/sprites.png' 'advograd-business';
$advograd_family_name = 'advograd-family';
$advograd_family_x = 374px;
$advograd_family_y = 600px;
$advograd_family_offset_x = -374px;
$advograd_family_offset_y = -600px;
$advograd_family_width = 199px;
$advograd_family_height = 135px;
$advograd_family_total_width = 1086px;
$advograd_family_total_height = 925px;
$advograd_family_image = '../images/sprites/sprites.png';
$advograd_family = 374px 600px -374px -600px 199px 135px 1086px 925px '../images/sprites/sprites.png' 'advograd-family';
$advograd_personal_name = 'advograd-personal';
$advograd_personal_x = 573px;
$advograd_personal_y = 600px;
$advograd_personal_offset_x = -573px;
$advograd_personal_offset_y = -600px;
$advograd_personal_width = 199px;
$advograd_personal_height = 135px;
$advograd_personal_total_width = 1086px;
$advograd_personal_total_height = 925px;
$advograd_personal_image = '../images/sprites/sprites.png';
$advograd_personal = 573px 600px -573px -600px 199px 135px 1086px 925px '../images/sprites/sprites.png' 'advograd-personal';
$circle_name = 'circle';
$circle_x = 0px;
$circle_y = 0px;
$circle_offset_x = 0px;
$circle_offset_y = 0px;
$circle_width = 507px;
$circle_height = 507px;
$circle_total_width = 1086px;
$circle_total_height = 925px;
$circle_image = '../images/sprites/sprites.png';
$circle = 0px 0px 0px 0px 507px 507px 1086px 925px '../images/sprites/sprites.png' 'circle';
$client1_name = 'client1';
$client1_x = 786px;
$client1_y = 300px;
$client1_offset_x = -786px;
$client1_offset_y = -300px;
$client1_width = 150px;
$client1_height = 150px;
$client1_total_width = 1086px;
$client1_total_height = 925px;
$client1_image = '../images/sprites/sprites.png';
$client1 = 786px 300px -786px -300px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'client1';
$client2_name = 'client2';
$client2_x = 786px;
$client2_y = 450px;
$client2_offset_x = -786px;
$client2_offset_y = -450px;
$client2_width = 150px;
$client2_height = 150px;
$client2_total_width = 1086px;
$client2_total_height = 925px;
$client2_image = '../images/sprites/sprites.png';
$client2 = 786px 450px -786px -450px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'client2';
$client3_name = 'client3';
$client3_x = 0px;
$client3_y = 775px;
$client3_offset_x = 0px;
$client3_offset_y = -775px;
$client3_width = 150px;
$client3_height = 150px;
$client3_total_width = 1086px;
$client3_total_height = 925px;
$client3_image = '../images/sprites/sprites.png';
$client3 = 0px 775px 0px -775px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'client3';
$client4_name = 'client4';
$client4_x = 786px;
$client4_y = 600px;
$client4_offset_x = -786px;
$client4_offset_y = -600px;
$client4_width = 150px;
$client4_height = 150px;
$client4_total_width = 1086px;
$client4_total_height = 925px;
$client4_image = '../images/sprites/sprites.png';
$client4 = 786px 600px -786px -600px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'client4';
$client5_name = 'client5';
$client5_x = 786px;
$client5_y = 150px;
$client5_offset_x = -786px;
$client5_offset_y = -150px;
$client5_width = 150px;
$client5_height = 150px;
$client5_total_width = 1086px;
$client5_total_height = 925px;
$client5_image = '../images/sprites/sprites.png';
$client5 = 786px 150px -786px -150px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'client5';
$client6_name = 'client6';
$client6_x = 600px;
$client6_y = 775px;
$client6_offset_x = -600px;
$client6_offset_y = -775px;
$client6_width = 150px;
$client6_height = 150px;
$client6_total_width = 1086px;
$client6_total_height = 925px;
$client6_image = '../images/sprites/sprites.png';
$client6 = 600px 775px -600px -775px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'client6';
$cross_name = 'cross';
$cross_x = 1011px;
$cross_y = 300px;
$cross_offset_x = -1011px;
$cross_offset_y = -300px;
$cross_width = 24px;
$cross_height = 24px;
$cross_total_width = 1086px;
$cross_total_height = 925px;
$cross_image = '../images/sprites/sprites.png';
$cross = 1011px 300px -1011px -300px 24px 24px 1086px 925px '../images/sprites/sprites.png' 'cross';
$facebook_name = 'facebook';
$facebook_x = 1035px;
$facebook_y = 300px;
$facebook_offset_x = -1035px;
$facebook_offset_y = -300px;
$facebook_width = 22px;
$facebook_height = 21px;
$facebook_total_width = 1086px;
$facebook_total_height = 925px;
$facebook_image = '../images/sprites/sprites.png';
$facebook = 1035px 300px -1035px -300px 22px 21px 1086px 925px '../images/sprites/sprites.png' 'facebook';
$lawyers_association_name = 'lawyers-association';
$lawyers_association_x = 507px;
$lawyers_association_y = 182px;
$lawyers_association_offset_x = -507px;
$lawyers_association_offset_y = -182px;
$lawyers_association_width = 234px;
$lawyers_association_height = 214px;
$lawyers_association_total_width = 1086px;
$lawyers_association_total_height = 925px;
$lawyers_association_image = '../images/sprites/sprites.png';
$lawyers_association = 507px 182px -507px -182px 234px 214px 1086px 925px '../images/sprites/sprites.png' 'lawyers-association';
$moe_delo_name = 'moe-delo';
$moe_delo_x = 0px;
$moe_delo_y = 507px;
$moe_delo_offset_x = 0px;
$moe_delo_offset_y = -507px;
$moe_delo_width = 343px;
$moe_delo_height = 93px;
$moe_delo_total_width = 1086px;
$moe_delo_total_height = 925px;
$moe_delo_image = '../images/sprites/sprites.png';
$moe_delo = 0px 507px 0px -507px 343px 93px 1086px 925px '../images/sprites/sprites.png' 'moe-delo';
$person1_name = 'person1';
$person1_x = 150px;
$person1_y = 775px;
$person1_offset_x = -150px;
$person1_offset_y = -775px;
$person1_width = 150px;
$person1_height = 150px;
$person1_total_width = 1086px;
$person1_total_height = 925px;
$person1_image = '../images/sprites/sprites.png';
$person1 = 150px 775px -150px -775px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'person1';
$person2_name = 'person2';
$person2_x = 300px;
$person2_y = 775px;
$person2_offset_x = -300px;
$person2_offset_y = -775px;
$person2_width = 150px;
$person2_height = 150px;
$person2_total_width = 1086px;
$person2_total_height = 925px;
$person2_image = '../images/sprites/sprites.png';
$person2 = 300px 775px -300px -775px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'person2';
$person3_name = 'person3';
$person3_x = 450px;
$person3_y = 775px;
$person3_offset_x = -450px;
$person3_offset_y = -775px;
$person3_width = 150px;
$person3_height = 150px;
$person3_total_width = 1086px;
$person3_total_height = 925px;
$person3_image = '../images/sprites/sprites.png';
$person3 = 450px 775px -450px -775px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'person3';
$person4_name = 'person4';
$person4_x = 786px;
$person4_y = 0px;
$person4_offset_x = -786px;
$person4_offset_y = 0px;
$person4_width = 150px;
$person4_height = 150px;
$person4_total_width = 1086px;
$person4_total_height = 925px;
$person4_image = '../images/sprites/sprites.png';
$person4 = 786px 0px -786px 0px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'person4';
$person5_name = 'person5';
$person5_x = 750px;
$person5_y = 775px;
$person5_offset_x = -750px;
$person5_offset_y = -775px;
$person5_width = 150px;
$person5_height = 150px;
$person5_total_width = 1086px;
$person5_total_height = 925px;
$person5_image = '../images/sprites/sprites.png';
$person5 = 750px 775px -750px -775px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'person5';
$person6_name = 'person6';
$person6_x = 936px;
$person6_y = 0px;
$person6_offset_x = -936px;
$person6_offset_y = 0px;
$person6_width = 150px;
$person6_height = 150px;
$person6_total_width = 1086px;
$person6_total_height = 925px;
$person6_image = '../images/sprites/sprites.png';
$person6 = 936px 0px -936px 0px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'person6';
$person7_name = 'person7';
$person7_x = 936px;
$person7_y = 150px;
$person7_offset_x = -936px;
$person7_offset_y = -150px;
$person7_width = 150px;
$person7_height = 150px;
$person7_total_width = 1086px;
$person7_total_height = 925px;
$person7_image = '../images/sprites/sprites.png';
$person7 = 936px 150px -936px -150px 150px 150px 1086px 925px '../images/sprites/sprites.png' 'person7';
$play_name = 'play';
$play_x = 936px;
$play_y = 300px;
$play_offset_x = -936px;
$play_offset_y = -300px;
$play_width = 51px;
$play_height = 51px;
$play_total_width = 1086px;
$play_total_height = 925px;
$play_image = '../images/sprites/sprites.png';
$play = 936px 300px -936px -300px 51px 51px 1086px 925px '../images/sprites/sprites.png' 'play';
$plus_name = 'plus';
$plus_x = 987px;
$plus_y = 300px;
$plus_offset_x = -987px;
$plus_offset_y = -300px;
$plus_width = 24px;
$plus_height = 24px;
$plus_total_width = 1086px;
$plus_total_height = 925px;
$plus_image = '../images/sprites/sprites.png';
$plus = 987px 300px -987px -300px 24px 24px 1086px 925px '../images/sprites/sprites.png' 'plus';
$rfpl_name = 'rfpl';
$rfpl_x = 0px;
$rfpl_y = 600px;
$rfpl_offset_x = 0px;
$rfpl_offset_y = -600px;
$rfpl_width = 175px;
$rfpl_height = 175px;
$rfpl_total_width = 1086px;
$rfpl_total_height = 925px;
$rfpl_image = '../images/sprites/sprites.png';
$rfpl = 0px 600px 0px -600px 175px 175px 1086px 925px '../images/sprites/sprites.png' 'rfpl';
$spartak_name = 'spartak';
$spartak_x = 507px;
$spartak_y = 0px;
$spartak_offset_x = -507px;
$spartak_offset_y = 0px;
$spartak_width = 279px;
$spartak_height = 182px;
$spartak_total_width = 1086px;
$spartak_total_height = 925px;
$spartak_image = '../images/sprites/sprites.png';
$spartak = 507px 0px -507px 0px 279px 182px 1086px 925px '../images/sprites/sprites.png' 'spartak';
$vk_name = 'vk';
$vk_x = 1057px;
$vk_y = 300px;
$vk_offset_x = -1057px;
$vk_offset_y = -300px;
$vk_width = 22px;
$vk_height = 21px;
$vk_total_width = 1086px;
$vk_total_height = 925px;
$vk_image = '../images/sprites/sprites.png';
$vk = 1057px 300px -1057px -300px 22px 21px 1086px 925px '../images/sprites/sprites.png' 'vk';
$youtube_name = 'youtube';
$youtube_x = 987px;
$youtube_y = 324px;
$youtube_offset_x = -987px;
$youtube_offset_y = -324px;
$youtube_width = 22px;
$youtube_height = 21px;
$youtube_total_width = 1086px;
$youtube_total_height = 925px;
$youtube_image = '../images/sprites/sprites.png';
$youtube = 987px 324px -987px -324px 22px 21px 1086px 925px '../images/sprites/sprites.png' 'youtube';
$spritesheet_width = 1086px;
$spritesheet_height = 925px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $advograd_business $advograd_family $advograd_personal $circle $client1 $client2 $client3 $client4 $client5 $client6 $cross $facebook $lawyers_association $moe_delo $person1 $person2 $person3 $person4 $person5 $person6 $person7 $play $plus $rfpl $spartak $vk $youtube;
$spritesheet = 1086px 925px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
